<%- include("../partials/topIndex.ejs") %>

<nav class="green darken-2 sidenav-trigger" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">EcoBank</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/accounts/register">Register</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container">
        <div class="row">
            <H3 class="center">Please Log In to Your Eco-Bank Account</H3>
            <% if ( typeof messages.err != "undefined" ) {%>
                <h5 class="center red-text"><%= messages.err %></h5>
            <% } %>
        </div>

        <form action="/accounts/login" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-large waves-effect waves-light green" type="submit">
                Submit
                </button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/bottomIndex.ejs') %>
