<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS of Materialize CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <title>Welcome to EcoBank!</title>
</head>
<body>

    <!-- FOR LARGER SCREENS -->
    <nav class="green darken-2 sidenav-trigger show-on-med-and-up hide-on-small-and-down" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">EcoBank</a>
            <ul class="right">
                <% if ( typeof user != "undefined" ) { %>
                <li><a href="/bank">Dashboard</a></li>
                <li><a href="/accounts/logout">Log out from <%= user.name %></a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <!-- FOR SMALLER SCREENS -->
    <nav class="green darken-2 sidenav-trigger show-on-med-and-down hide-on-med-and-up" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo left">EcoBank</a>
            <ul class="right">
                <% if ( typeof user != "undefined" ) { %>
                    <li><a href="/bank">Dashboard</a></li>
                    <li><a href="/accounts/logout">Log out</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h3 class="center green-text">Select User</h3>

        <ul class="collapsible">
            <% if ( typeof usersArray != "undefined" ) { %>
                <% usersArray.forEach(foundUser => { %>
                    <% if(foundUser.name !== user.name){ %>
                        <li>
                            <div class="collapsible-header"> <%= foundUser.name %> </div>
                            <div class="collapsible-body">
                                <form action="/user/transfer" method="post">
                                    <div class="input-field">
                                        <input type="hidden" name="userID" value=<%= foundUser._id %>>
                                        <input type="number" name="transferAmount">
                                        <label>Transfer</label>
                                    </div>
                                    <button class="btn btn-small waves-effect waves-dark green" type="submit">Transfer to <%= foundUser.name %></button>
                                </form>
                            </div>
                        </li>
                    <% } %>
                <% }) %>
            <% } %>
        </ul>
    </div>



    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript of Materialize CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script> M.AutoInit(); </script>
</body>
</html>
